extends ../layout

block content 
  if user
    div(class="card")
      div(class="card-body") 
        h5(class="card-title") Name: #{user.first_name} #{user.last_name}
        p(class="card-text") Customer Id:#{user.customer_id}
        p(class="card-text") Status: #{user.active == 1 ? 'active' : 'inactive'}
    ul(class="list-group list-group-flush")
        li(class="list-group-item") Email: #{user.email}
        
        
    div.card-body
      a(href='/users/' + user.customer_id + '/edit' class="btn btn-primary") Edit User
      a(href='/users/' + user.customer_id + '/rentals' class="btn btn-outline-primary ms-2") View Rentals
      a(href='/users/' + user.customer_id + '/spending' class="btn btn-outline-info ms-2") View Spending
      a(href="#" class="btn btn-danger ms-2" onclick=`deleteButtonClicked('${user.customer_id}', this)`) Delete User
      a(href='/users' class="btn btn-secondary ms-2") Back to Users List
  else
    p User niet gevonden.
