extends ../layout

block content
  .container
    h2.mb-3
      i.fas.fa-user-edit.me-2
      | Edit Customer ##{user.customer_id || user.id}

    form(method='post', action='/users/' + (user.customer_id || user.id) + '/edit')
      .row.g-3
        .col-md-6
          label.form-label(for='first_name') First Name
          input#first_name.form-control(type='text', name='first_name', value=user.first_name required)
        .col-md-6
          label.form-label(for='last_name') Last Name
          input#last_name.form-control(type='text', name='last_name', value=user.last_name required)

        .col-md-8
          label.form-label(for='email') Email
          input#email.form-control(type='email', name='email', value=user.email required)
          .form-text Use a valid email address.
        .col-md-4
          label.form-label(for='active') Status
          select#active.form-select(name='active')
            option(value='1' selected=(user.active==1)) Active
            option(value='0' selected=(user.active==0)) Inactive

      .mt-4.d-flex.gap-2
        button.btn.btn-primary(type='submit')
          i.fas.fa-save.me-1
          | Save Changes
        a.btn.btn-secondary(href='/users/' + (user.customer_id || user.id) + '/details')
          i.fas.fa-arrow-left.me-1
          | Back to Details
        a.btn.btn-outline-secondary(href='/users')
          i.fas.fa-users.me-1
          | Back to Users List
        button.btn.btn-danger(type='button' onclick=`deleteButtonClicked('${user.customer_id || user.id}', this)`) 
          i.fas.fa-trash.me-1
          | Delete User
