extends ../layout

block content
    table.table.table-striped
      thead
        tr
          th.col ID
          th.col Firstname
          th.col lastname
          th.col Email
          th.col Status

      tbody
        each user in users
            tr
                th #{user.customer_id}
                td #{user.first_name}
                td #{user.last_name}
                td #{user.email}
                td #{user.active == 1 ? 'active' : 'inactive'}
                td 
                    a.btn.btn-dark(href='/users/' + user.customer_id + '/details') details
                td 
                    a.btn.btn-outline-secondary(href='/users/' + user.customer_id + '/edit') edit
                td 
                    a.btn.btn-outline-primary(href='/users/' + user.customer_id + '/rentals') rentals
                td 
                    a.btn.btn-outline-info(href='/users/' + user.customer_id + '/spending') spending
                td 
                    a.btn.btn-danger(onclick=`deleteButtonClicked('${user.customer_id}', this)`) delete
      div#deleteAlertContainer
        div#deleteAlert.alert.alert-danger.alert-dismissible.fade.d-none(role="alert")
            span.alert-message Customer deleted successfully!
            button.btn-close(type="button", data-bs-dismiss="alert", aria-label="Close")

      // Bootstrap Delete Confirmation Modal
      div#deleteConfirmModal.modal.fade(tabindex="-1", aria-labelledby="deleteConfirmModalLabel", aria-hidden="true")
          div.modal-dialog
              div.modal-content
                  div.modal-header
                      h5#deleteConfirmModalLabel.modal-title Confirm Delete
                      button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                  div.modal-body
                      | Are you sure you want to delete this user?
                  div.modal-footer
                      button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Cancel
                      button#confirmDeleteBtn.btn.btn-danger(type="button") Delete
